
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/business-casual.css" rel="stylesheet">

    <!-- Navigation -->
 	
<div class="container">
	<div class="row">
		<div class="box" id="header">
			<div id="header-left">
				<div class="logo-area">
					<a href="http://www.ebay.com/sch/brand_tokyo/m.html?_nkw=&amp;_armrs=1&amp;_ipg=&amp;_from=" target="_blank"><img src="https://demo.uniqueitworld.com/brandtokyo/logo2.png"></a>
				</div>
				<div class="topnav-right">
					<ul>
						<li class="menu1"><a target="_blank" href="http://www.ebay.com/sch/brand_tokyo/m.html?_nkw=&amp;_armrs=1&amp;_ipg=&amp;_from=">OUR STORE</a></li>
						<li class="menu2"><a target="_blank" href="http://www.ebay.com/usr/brand_tokyo">About US</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
			

<div class="container">
	<div class="row">
		<div class="box" id="title-top">
			<div class="col-lg-12 text-center">
				<div class="title"><h2>100 % Auth MARIO VALENTINO  Logos PVC Leather Clutch Hand Bag Black made Italy</h2></div>
			</div>
		</div>
	</div>
</div>

<div class="container">
<div class="row">
<div class="box">
			
<div class="col-lg-12 text-center">
					<!-- JPEGbay.com GALLERY START -->

<div clear="all"></div>
<div id="jb-gallery6349105" style="width:960px;display:table; text-align:left; margin: 0 auto; color:#444444">
<div id="jb-title6349105" style="font-size:large; padding:10px 15px; text-align:left; background:#FFFFFF; border:1px solid #444444;border-width: 0 0 1px 0;">Item Photos</div>
<div id="jb-images6349105" style="padding:10px 20px 20px 10px; zoom: 1; position:relative; background:#FFFFFF; font-size:0;">
<div style="float:left; width:456px;height:354px; min-width:400px"></div>
<a target="_blank" id="jb-link1" href="http://jpegbay.com/gallery/006349105-.html#1"><img class="jb-preview" style="opacity:1; filter:alpha(opacity=100);" src="http://img2.jpegbay.com/gallery/006349105/1_m.jpg"><img class="jb-thumb" src="http://img2.jpegbay.com/gallery/006349105/1_t.jpg"></a>
<a target="_blank" id="jb-link2" href="http://jpegbay.com/gallery/006349105-.html#2"><img class="jb-preview" src="http://img2.jpegbay.com/gallery/006349105/2_m.jpg"><img class="jb-thumb" src="http://img2.jpegbay.com/gallery/006349105/2_t.jpg"></a>
<a target="_blank" id="jb-link3" href="http://jpegbay.com/gallery/006349105-.html#3"><img class="jb-preview" src="http://img2.jpegbay.com/gallery/006349105/3_m.jpg"><img class="jb-thumb" src="http://img2.jpegbay.com/gallery/006349105/3_t.jpg"></a>
<a target="_blank" id="jb-link4" href="http://jpegbay.com/gallery/006349105-.html#4"><img class="jb-preview" src="http://img2.jpegbay.com/gallery/006349105/4_m.jpg"><img class="jb-thumb" src="http://img2.jpegbay.com/gallery/006349105/4_t.jpg"></a>
<a target="_blank" id="jb-link5" href="http://jpegbay.com/gallery/006349105-.html#5"><img class="jb-preview" src="http://img2.jpegbay.com/gallery/006349105/5_m.jpg"><img class="jb-thumb" src="http://img2.jpegbay.com/gallery/006349105/5_t.jpg"></a>
<a target="_blank" id="jb-link6" href="http://jpegbay.com/gallery/006349105-.html#6"><img class="jb-preview" src="http://img2.jpegbay.com/gallery/006349105/6_m.jpg"><img class="jb-thumb" src="http://img2.jpegbay.com/gallery/006349105/6_t.jpg"></a>
<a target="_blank" id="jb-link7" href="http://jpegbay.com/gallery/006349105-.html#7"><img class="jb-preview" src="http://img2.jpegbay.com/gallery/006349105/7_m.jpg"><img class="jb-thumb" src="http://img2.jpegbay.com/gallery/006349105/7_t.jpg"></a>
<a target="_blank" id="jb-link8" href="http://jpegbay.com/gallery/006349105-.html#8"><img class="jb-preview" src="http://img2.jpegbay.com/gallery/006349105/8_m.jpg"><img class="jb-thumb" src="http://img2.jpegbay.com/gallery/006349105/8_t.jpg"></a>
<a target="_blank" id="jb-link9" href="http://jpegbay.com/gallery/006349105-.html#9"><img class="jb-preview" src="http://img2.jpegbay.com/gallery/006349105/9_m.jpg"><img class="jb-thumb" src="http://img2.jpegbay.com/gallery/006349105/9_t.jpg"></a>
<a target="_blank" id="jb-link10" href="http://jpegbay.com/gallery/006349105-.html#10"><img class="jb-preview" src="http://img2.jpegbay.com/gallery/006349105/10_m.jpg"><img class="jb-thumb" src="http://img2.jpegbay.com/gallery/006349105/10_t.jpg"></a>
<a target="_blank" id="jb-link11" href="http://jpegbay.com/gallery/006349105-.html#11"><img class="jb-preview" src="http://img2.jpegbay.com/gallery/006349105/11_m.jpg"><img class="jb-thumb" src="http://img2.jpegbay.com/gallery/006349105/11_t.jpg"></a>
<a target="_blank" id="jb-link12" href="http://jpegbay.com/gallery/006349105-.html#12"><img class="jb-preview" src="http://img2.jpegbay.com/gallery/006349105/12_m.jpg"><img class="jb-thumb" src="http://img2.jpegbay.com/gallery/006349105/12_t.jpg"></a>
<a target="_blank" id="jb-link13" href="http://jpegbay.com/gallery/006349105-.html#13"><img class="jb-preview" src="http://img2.jpegbay.com/gallery/006349105/13_m.jpg"><img class="jb-thumb" src="http://img2.jpegbay.com/gallery/006349105/13_t.jpg"></a>
<a target="_blank" id="jb-link14" href="http://jpegbay.com/gallery/006349105-.html#14"><img class="jb-preview" src="http://img2.jpegbay.com/gallery/006349105/14_m.jpg"><img class="jb-thumb" src="http://img2.jpegbay.com/gallery/006349105/14_t.jpg"></a>
<a target="_blank" id="jb-link15" href="http://jpegbay.com/gallery/006349105-.html#15"><img class="jb-preview" src="http://img2.jpegbay.com/gallery/006349105/15_m.jpg"><img class="jb-thumb" src="http://img2.jpegbay.com/gallery/006349105/15_t.jpg"></a>
<a target="_blank" id="jb-link16" href="http://jpegbay.com/gallery/006349105-.html#16"><img class="jb-preview" src="http://img2.jpegbay.com/gallery/006349105/16_m.jpg"><img class="jb-thumb" src="http://img2.jpegbay.com/gallery/006349105/16_t.jpg"></a>
<a target="_blank" id="jb-link17" href="http://jpegbay.com/gallery/006349105-.html#17"><img class="jb-preview" src="http://img2.jpegbay.com/gallery/006349105/17_m.jpg"><img class="jb-thumb" src="http://img2.jpegbay.com/gallery/006349105/17_t.jpg"></a>
<a target="_blank" id="jb-link18" href="http://jpegbay.com/gallery/006349105-.html#18"><img class="jb-preview" src="http://img2.jpegbay.com/gallery/006349105/18_m.jpg"><img class="jb-thumb" src="http://img2.jpegbay.com/gallery/006349105/18_t.jpg"></a>
<a target="_blank" id="jb-link1" href="http://jpegbay.com/gallery/006349105-.html#1"><img class="jb-preview jb-preview1" src="http://img2.jpegbay.com/gallery/006349105/1_m.jpg"></a>
<br clear="all">
<img src="http://jpegbay.com/gallery/006349105-.html#1" style="width:1px;height:1px;visibility:hidden">
</div>
<div id="jb-footer6349105" style="font-size:small; padding:5px 15px; text-align:left; background:#FFFFFF; border:1px solid #444444;border-width: 1px 0 0 0;">
<img style="border:none; float:right" src="http://jpegbay.com/static/jpegbay/gallery_icon.png">click to enlarge</div>
<style type="text/css"><!--
#jb-images6349105 a {text-decoration:none;}
#jb-images6349105 img {background:#FFFFFF;border:7px solid #444444;border-radius:10px;}
#jb-images6349105 img.jb-thumb {width:128px; height:96px; margin:8px 0 0 10px;}
#jb-images6349105 a:hover img.jb-thumb {padding:6px; border:1px solid #444444;}
#jb-images6349105 a img.jb-preview {width:384px; height:288px; margin:0; position:absolute; top:37px; left:41px;opacity:0; filter:alpha(opacity=0); transition:opacity 0.7s ease-in;}
#jb-images6349105 a:hover img.jb-preview {opacity:1; filter:alpha(opacity=100); transition:opacity 0.7s ease-out;}
#jb-images6349105 a:hover img.jb-preview1 {padding:6px; border:1px solid #444444;}
--></style>
</div>

<!-- JPEGbay.com GALLERY END -->
</div>
</div>
</div>

		
		
<div class="row">
	<div class="box" id="desc-title">
		<div class="col-lg-12 text-center">
			<div class="title_box">
			<div class="subtitle_bg_left"></div>
			<div class="subtitle_bg_right"></div>
			<div class="title"><h4>Item Description<h3/></div>
			</div>
		</div>
	</div>
</div>

	

	

 <div class="row">
		<div class="box">
			<div class="description_box">
			<div class="box_left">

				<table class="table table-bordered">
				<tbody>

				<tr>
				<td class="lefttitle">Brand</td>
				<td><big><b>Gucci</b></big></td>
				</tr>
				
				<tr>
				<td class="lefttitle">Product Code</td>
				<td><b>A1254.21.54</b></td>
				</tr>
				
				<tr>
				<td class="lefttitle">Date Code</td>
				<td>1212321</td>
				</tr>

				<tr>
				<td class="lefttitle">Style</td>
				<td>Clutch Hand Bag</td>
				</tr>

				<tr>
				<td class="lefttitle">Material</td>
				<td>PVC</td>
				</tr>

				<tr>
				<td class="lefttitle">Color</td>
				<td>Black</td>
				</tr>

				<tr>
				<td class="lefttitle">Country of Origin</td>
				<td>Italy</td>
				</tr>

				<tr>
				<td class="lefttitle">Dimensions</td>
				<td>
				<p>Length: 12 cm/ 5  inch( Approx)</p>
				<p>Height  : 25 cm/ 10 inch ( Approx)</p>
				<p>Depth:   5 cm/ 2 inch ( Approx)</p>
				</td>
				</tr>

				</tbody>
				</table>
			</div>

			<div class="box_right">

			<table  class="table table-bordered">
			<tbody>
			<tr>
			<td> 

			<table class="table table-bordered">
			<tbody>
			<tr>
			<td colspan="3" class="table_title"><strong><big>Product Rating Chart</big></strong></td>
			</tr>
			</tbody>
			</table>
			
<table class="table table-bordered">
<tbody>
<tr>
<td>NS</td>
<td>Brand New</td>
<td>With/without tag</td>
</tr>
<tr>
<td>S</td>
<td>Excellent</td>
<td>Barely used</td>
</tr>
<tr>
<td>A</td>
<td>Good</td>
<td>Very few signs of use</td>
</tr>
<tr>
<td>AB</td>
<td>Fair +</td>
<td>some scratches,dirt, scuffs,signs of use</td>
</tr>
<tr>
<td>B</td>
<td>Fair</td>
<td>Noticeable signs of use, Stains,rubbing,Scratches,scuffs</td>
</tr>
<tr>
<td>C</td>
<td>Poor</td>
<td>heavily used, few damages</td>
</tr>
<tr>
<td>D</td>
<td>Junk</td>
<td>Badly-damaged,Need to repair</td>
</tr>
</tbody>
</table>
			
			

			<table class="table table-bordered">
			<tbody>
			<tr>
			<td colspan="3" class="table_title"><strong><big>Product Rating</big></strong></td>
			</tr>
			<tr>
			<td colspan="1" width="30%">Exterior</td>
			<td colspan="7" class="extra-large">A</td>
			</tr>
			<tr>
			<td colspan="1" width="30%">Interior</td>
			<td colspan="7" class="extra-large">A</td>
			</tr>

			</tbody>
			</table>
			</td>
			</tr>
			</tbody>
			</table>
			</div>

			<div class="box1part2">
			<table class="table table-bordered">
			<tbody>
			<tr>
			<td class="desctitle">Exterior</td>
			<td>: Used condition. <span class="color3">Some Scratches, scuffs and signs of use  .Ples check the pic.</span></td>
			</tr>

			<tr>
			<td class="desctitle">Interior</td>
			<td>: Used condition. <span class="color3">signs of use, Scratches , stains   .Ples check the pic.</span></td>
			</tr>


			<tr>
			<td class="desctitle">Pocket</td>
			<td>: Outside : None    Inside : one with zipper closure.</td>
			</tr>
			<tr>
			<td class="desctitle">Chamber</td>
			<td>: One.</td>
			</tr><tr>
			<td class="desctitle">Closure</td>
			<td>: Zipper.</td>
			</tr><tr>
			<td class="desctitle">Zipper Condition</td>
			<td>: working condition.</td>
			</tr><tr>
			<td class="desctitle">Metal Trim</td>
			<td>: <span class="color3">Has  stains and scratches.</span></td>
			</tr>

			<tr>
			<td class="desctitle">Corner &amp; edges</td>
			<td>: <span class="color3">signs of use minor rubbing ,scratches and stains ..Ples check the pic.</span>.</td>
			</tr>
			<tr>
			<td class="desctitle">Item code</td>
			<td>: 0170712.1.D3.</td>
			</tr>

			<tr>
			<td class="desctitle">Odor</td>
			<td>: Normal Used oder.</td>
			</tr>
			<tr>
			<td class="desctitle">Remarks</td>
			<td><span class="color2">: ****Offer negotiable.***Please check photos attentively*** Happy Purchase***</span></td>
			</tr>
			</tbody>
			</table>
			</div>

			</div>
		</div>
</div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>ABOUT US</strong>
                    </h2>
                    <hr>
                    <p class="underline">We are verified as authentic used brand seller from Tokyo Metropolitan Police Department.</p>
					<p class="bold underline">License Number : <span class="color1">#304431507638</span></p>
					<p>All of our items are <span class="bold underline">GUARANTEED to be 100% AUTHENTIC and GENUINE brand items.</span></p>
					<p>All items are inspected by authentic brand item experts and a professional appraiser with over 10 years of experience.</p>
					<p class="bold">Please feel free to ask us If you have any kind of queries about regarding our products before your purchase.</p>

					<div class="box_link"><a href="http://www.ebay.com/sch/brand_tokyo/m.html?_nkw=&amp;_armrs=1&amp;_ipg=&amp;_from=" target="_blank">Please visit our "Brand Tokyo"  store</a></div>
                </div>
            </div>
        </div>
		
		<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>PAYMENT DETAILS</strong>
                    </h2>
                    <hr>
                    <div class="description_box">
					<p class="img_box"><img title="Paypal" src="https://demo.uniqueitworld.com/brandtokyo/5178187_paypal-logo.gif" alt="Paypal" width="350" height="129"></p>
					<p class="box_p">We accept Only PayPal</p>
					<p class="box_p">Payment is due within 7 days.</p>
					</div>
                </div>
            </div>
        </div>
		
			<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>SHIPPING DETAILS</strong>
                    </h2>
                    <hr>
                    <div class="description_box">
					<p class="img_box"><img title="EMS" src="https://demo.uniqueitworld.com/brandtokyo/5178186_h1-ems-en.gif" alt="EMS" width="350" height="74"></p>

					<p class="box_p padding">Ship WORLDWIDE By EMS /Japan Post/ DHL.</p>
					<p class="box_p">Ship within 24 hours after payment confirmation</p>
					<p class="box_p">We can provide you with a tracking number after we ship this item out at Post Office.</p>
					<p class="box_p">Product has packaged by bubble wrapped and well package is protected with high care</p>

					</div>
                </div>
            </div>
        </div>
		
		<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>OUR REFUND POLICY</strong>
                    </h2>
                    <hr>
                    <div class="">
					<ul class="samebox">
					<li>Returns are accepted Only If the item was not the item as described within 30 days.</li>
					<li>We accept partial refund &amp; Full refund after the return item receive.</li>
					<li>If you are not satisfied with your purchase for any reason just contact us and we will solve things right.</li>

					</ul>
					</div>
                </div>
            </div>
        </div>
		
		<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>ATTENTION INTERNATIONAL BUYERS</strong>
                    </h2>
                    <hr>
                    <div class="decription_box">
					<ul class="samebox">
					<li>IMPORT DUTIES, TAXES and CHARGES are NOT included in the item price or shipping charges. These kind of charges are the buyer's responsibility.</li>
					<li>Please check with your country's customs office to determine what these additional costs will be before bidding or buying.</li>
					<li>If your item did not receive within 15 days after shipment, please contact us before contact to ebay.</li>
					<li>Remarks: If you are not satisfied of your purchase please contact us before leave feedback.</li>

					</ul>
					</div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>
